body, html{
    background-color: darkgray; /*lightcoral*/
    font-family: 'Space Mono', monospace, Helvetica;
}

.container{

    height: 100vh;
    margin-top: 0px;
}

.box{
    margin: 0 auto;
    border-radius: 100%;
    font-family: 'Space Mono', monospace, Helvetica;
    font-size: 4em;
    text-align: center;
    width: 400px;
    height: 400px;
    background-color:aliceblue;
    border: 3px solid black;
    margin-top: -8px;
}

h1{
    margin-top: -10px;
    padding-top: 100px;
}

.label{
    font-family: 'Space Mono', monospace, Helvetica;
    margin-top: 50px;
}

@media only screen and (max-width: 400px) {
    .box {
        width: 250px;
        height: 250px;
    }
    
    h1{
        padding-top: 40px;
        
    }
}