/***********************/
/* HTML STYLES */
/***********************/

body, html{
    background-color: darkgray; /*lightcoral*/
    font-family: 'Space Mono', monospace, Helvetica;
}

.container{
    height: 100vh;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/***********************/
/* CONTENT / MAIN SECTION */
/***********************/

.main{
    display: flex;
    flex-direction: row;
}

.main-label{
    text-align: center;
    font-size: 16px;
}

.hide{
    display: none;
}

.string-main{
    position: absolute;
}

.chord-main, .fingering-main{
    position: absolute;
    right: 0px;
}

.chord-main{
    top: 450px;
}

.key-name, .string-name, .chord-name, .fingering-name{
    text-shadow: 0px 4px 1px #bbb;
}

#min7b5{
    font-size: 2.5em;
}

/*  about  */

.about{
    margin-top: 15px;
    text-align: center;
}

#about-text{
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 20px;
}

.about-paragraph{
    text-align: left;
    margin: 0 4em;
}

.about-message{
    display: none;
}

#okay{
    margin-top: 15px;
}

/***********************/
/* .box is the middle circle; the key  */
/***********************/

.key-main{
    margin: 0 auto;
}

.key{
    margin: 0 auto;
    width: 400px;
    height: 400px;
    background-color:aliceblue;
    border: 3px solid black;
    text-align: center;
    border-radius: 100%;
    font-size: 7em;
}

/***********************/
/* .string indicates which string to play on */
/***********************/

.string, .chord, .fingering{
    margin: 0;
    width: 150px;
    height:150px;
    background-color:aliceblue;
    border: 3px solid black;
    text-align: center;
    border-radius: 100%;
    font-size: 3em;  
}

.string{
    float: left;
}

/* .chord indicates which type of chord to play */

.chord{
    float: right;
}

.hide{
    display: none;
}

.string-options{
    display: none;
}
/***********************/
/* INPUT / BUTTON AREA */
/***********************/

.settings{
    margin-top: 15px;
    text-align: center;
}

.label{
    margin-left: -10px;
}

#beep{
    margin: 10px;
}

#time{
    font-family: 'Space Mono', monospace, Helvetica;
    width: 25px;
    font-size: 16px;
}

.button{
    font-family: 'Space Mono', monospace, Helvetica; 
}

#setTime{
    color: green;
}

#stopTime{
    color: red;
}

/***********************/
/* HEADER */
/***********************/

.header{
    text-align: center;
    margin-bottom: 40px;
    text-shadow: 0 1px white;
    background: #ddd;
    padding: 20px;
}

h3{
    color: #fff;
    text-shadow: 0px 1px black;
}

/***********************/
/* MEDIA QUERIES */
/***********************/

/* Make main part smaller in mobile view*/

@media only screen and (max-width: 400px) {
    .key {
        width: 250px;
        height: 250px;
        font-size: 4.8em;
    }
    
    .string-main, .chord-main, .fingering-main{
        margin-top: -50px;
    }
    
    .string, .chord, .fingering{
        width: 100px;
        height: 100px;
        font-size: 2em;
    }
    
    #min7b5{
        font-size: 1.7em;
    }
}

/* Arranging options */

@media only screen and (min-width: 800px){
    .string-main{
        left: 10em;
    }

    .chord-main, .fingering-main{
        right: 10em;
    }

}

@media only screen and (min-width: 1000px){
    .string-main{
        left: 17em;
    }

    .chord-main, .fingering-main{
        right: 17em;
    }

}